/* .wrapper {
    margin: 64px;
} */
.mainInfo {
    display: flex;
flex-direction: column;
align-items: flex-start;}
.title {
    font-family: "Inter", sans-serif;
font-weight: 600;
font-size: 24px;
line-height: 1.33333;
color: #101828;
}
.price {
    font-family: "Inter", sans-serif;
font-weight: 600;
font-size: 24px;
line-height: 1.33333;
color: #101828;
display: flex;
align-items: center;
}
/* .img {
    border-radius: 10px;
    width: 292px;
    height: 312px;
} */
.images {
    display: flex;
    flex-direction: row;
    width: 1312px;
    margin-top: 64px;
    margin-bottom: 64px;
/* height: 312px; */
justify-content: space-around;}
.imageDiv img {
    border-radius: 10px;
width: 292px;
height: 312px;
}


.reviewsLocation {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 15px;
}
.reviews{
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #101828;
    display: flex;
    align-items: center;
}
.star {
    width: 16px;
    height: 16px;
    color: #ffc531;
}
.location{
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #101828;
    display: flex;
    align-items: center;
}
.shortSummary {
    display: flex;
    align-items: center;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #475467;
   width: 1312px;
}