.wrapper {
    width: 360px;
height: 272px;
display: flex;
flex-direction: column;
}
.title {
    font-family: "Inter", sans-serif;
font-weight: 600;
font-size: 20px;
line-height: 1.2;
color: #101828;
margin-bottom: 24px;
}
.icons {
    width: 360px;
height: 200px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8px;
}
.icon {
    border: 1px solid #dadde1;
    border-radius: 12px;
    padding: 16px 18px;
    width: 112px;
    height: 96px;
}